{% extends "base.html" %}
{% block title %}Evento: {{ event.title }}{% endblock %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{STATIC_URL}}css/location_picker.css" />
{% endblock %}
{% block content %}
<h1>Evento: {{ event.title }}</h1>
<ul>
    <li>Lugar: {{ event.map_tag }}</li>
    <li>Vacantes: {{ event.vacants }}</li>
</ul>
{% if user_suscribed %}
    <p>Ya te encuentras registrado para asistir a este evento</p>
    <p>hay muchos mas <a href="{% url event_list %}">eventos!</a></p>
{% else %}
    {% if event.vacants >= 1 %}
        <p>Vamos hay vacantes <a href="{% url event_register event.pk %}">registrate!</a><p>
        <p>hay muchos mas <a href="{% url event_list %}">eventos!</a></p>
    {% else %}
        <p>Ya no hay mas vacantes para este evento, pero hay muchos mas <a href="{% url event_list %}">eventos!</a></p>
    {% endif %}
{% endif %}
{% endblock %}
{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ extra_js }}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.location_picker.js"></script>
{% endblock %}


