{% extends "base.html" %}
{% block title %}Evento: {{ event.title }}{% endblock %}
{% block css %}
{{ block.super }}
    <link rel="stylesheet" href="{{STATIC_URL}}css/location_picker.css" />
{% endblock %}
{% block content %}
<h1>Evento: {{ event.title }}</h1>
<ul>
    <li>Lugar: {{ event.map_tag }}</li>
    <li>Vacantes: {{ event.vacants }}</li>
</ul>
{% endblock %}
{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ extra_js }}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.location_picker.js"></script>
{% endblock %}


